  @font-face {
     font-family: 'Futura';
     src: url('./assets/fonts/FuturaLT-Bold.woff2') format('woff2'),
          url('./assets/fonts/FuturaLT-Bold.woff') format('woff');
     font-weight: bold;
     font-style: normal;
   }

   @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }